node_modules
dist
.DS_Store
.env
.env.local
.env.*.local
*.tsbuildinfo
data/assets/*
!data/assets/.gitkeep
data/content/*.runtime.json
data/*.sqlite*
apps/web/dist
apps/server/dist
apps/server/data
coverage
.vite
*.log
packages/*/src/*.js
packages/*/src/*.js.map
packages/*/src/*.d.ts
packages/*/src/*.d.ts.map
archive
